<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HW8</title>
	<link rel="stylesheet" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" href="{% static 'css/html_css/hw8/hw8.css' %}">

	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">

</head>

<div class="topblock">
	<div class="topblock_header">
		<div class="topblock_header_logo">Company<span>Name</span></div>
		<div class="topblock_header_items">
			<a href="#" class="topblock_header_item">What</a>
			<a href="#" class="topblock_header_item">Companies</a>
			<a href="#" class="topblock_header_item">Meet</a>
			<a href="#" class="topblock_header_item">Testimonials</a>
			<a href="#" class="topblock_header_item">Why</a>
		</div>
	</div>
	<div class="topblock_slogan">WE CREATE Responsive,<br>
	Parallax And Wordpress Themes</div>

</div>

<div class="what container">
	<div class="what_title pageBigtitle">
		what?
	</div>
	<div class="what_subtitle pagesubtitle">
		Lorem Ipsum is simply dummy text of the printing
	</div>
	<div class="what_text">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
	</div>
</div>

<div class="companies pagechevronshape container">
	<div class="companies_title pageBigtitle">COMPANIES</div>
	<div class="companies_subtitle pagesubtitle">Lorem Ipsum is simply dummy text of the printing</div>
	<div class="companies_brandlogos">
		<div class="companies_brandlogos_logo brandlogo1"><img src="{% static 'img/hw8/logo1.png' %}" alt="brand logo 1"></div>
		<div class="companies_brandlogos_logo brandlogo2">
			<img src="{% static 'img/hw8/logo2.1.png' %}" alt="brand logo 2.1">
			<img src="{% static 'img/hw8/logo2.2.png' %}" alt="brand logo 2.2">
		</div>
		<div class="companies_brandlogos_logo brandlogo3"><img src="{% static 'img/hw8/logo3.png' %}" alt="brand logo 3"></div>
		<div class="companies_brandlogos_logo brandlogo4"><img src="{% static 'img/hw8/logo4.png' %}" alt="brand logo 4"></div>
		<div class="companies_brandlogos_logo brandlogo5"><img src="{% static 'img/hw8/logo5.png' %}" alt="brand logo 5"></div>
		<div class="companies_brandlogos_logo brandlogo6"><img src="{% static 'img/hw8/logo6.png' %}" alt="brand logo 6"></div>
		<div class="companies_brandlogos_logo brandlogo7"><img src="{% static 'img/hw8/logo7.png' %}" alt="brand logo 7"></div>
		<div class="companies_brandlogos_logo brandlogo8"><img src="{% static 'img/hw8/logo8.png' %}" alt="brand logo 8"></div>
	</div>
</div>

<div class="meet container">
	<div class="meet_title pageBigtitle">MEET US</div>
	<div class="meet_subtitle pagesubtitle">
		Lorem Ipsum is simply dummy text of the printing
	</div>
	<div class="meet_cards">
		<div class="meet_cards_card">
			<img src="{% static 'img/hw8/face1.png' %}" alt="card face">
			<div class="meet_cards_card_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text and type.</div>
		</div>
		<div class="meet_cards_card">
			<img src="{% static 'img/hw8/face2.png' %}" alt="card face">
			<div class="meet_cards_card_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text and type.</div>
		</div>
		<div class="meet_cards_card">
			<img src="{% static 'img/hw8/face3.png' %}" alt="card face">
			<div class="meet_cards_card_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text and type.</div>
		</div>
	</div>
</div>


<div class="testinomianls pagechevronshape">
	<div class="testinomianls_title pageBigtitle">Testimonials
</div>
	<div class="testinomianls_subtitle pagesubtitle">
		Lorem Ipsum is simply dummy text of the printing
	</div>
	<div class="testinomianls_text">
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
	</div>
	<div class="testinomianls_sign">
		- Shoaib Ahmed
	</div>
</div>

<div class="why">
	<div class="why_title pageBigtitle">Why?</div>
	<div class="why_subtitle pagesubtitle">Lorem Ipsum is simply dummy text of the printing</div>
	<div class="why_text"><p>INNOVATION + PASSION + EXPERIENCE + INNOVATION</p><p> + PASSION + EXPERIENCE =</p></div>
</div>

<div class="copyright"><p>Copyright © 2014 Company Name. All rights reserved.</p>
<p>Designed by <span>Iconic Graphics.</span></p></div>

</body>


</body>
</html>