<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pizza Hubt</title>
    <link rel="stylesheet" href="../../../static/css/advanced/html1/html1.css">
    <link rel="stylesheet" href="../../../static/css/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/css/advanced/html1/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="pagecontainer">
    <div class="navigation navigation_small">
        <div class="navigation__logo">Navigation</div>
        <div class="navigation__burger">
            <div class="burger">
                <div class="burger__line"></div>
                <div class="burger__line"></div>
                <div class="burger__line"></div>
            </div>
        </div>
        <div class="navigation__dropdown-menu hidden_dropdown">
            <a href="#" class="navigation__dropdown-item">Pizza delivery</a>
            <a href="#" class="navigation__dropdown-item">UA/UX Salads</a>
            <a href="#" class="navigation__dropdown-item">Desserts</a>
            <a href="#" class="navigation__dropdown-item">About Us</a>
            <a href="#" class="navigation__dropdown-item">Contacts</a>
        </div>
    </div>
    <div class="jumbotron container">
        <div class="jumbotron__slogan">
            <p class="jumbotron__slogan-row">
                All we need is Love.
            </p>
            <p class="jumbotron__slogan-row">
                And pizza. Pizza is good
            </p>
        </div>
        <div class="jumbotron__website">
            www.new-pizza.com
        </div>
    </div>

    <div class="menu-blocks">
        <div class="menu-blocks__topic">
            <div class="menu-topic__title">
                <div class="menu-topic__title-name">Pizza Delivery</div>
            </div>
            <div class="menu-topic__arrow">
                <span></span>

            </div>
        </div>
        <div class="menu-blocks__topic">
            <div class="menu-topic__title">
                <div class="menu-topic__title-name">UA/UX Salads</div>
            </div>
            <div class="menu-topic__arrow">
                <span></span>
            </div>
        </div>
        <div class="menu-blocks__topic menu-blocks__topic_high">
            <div class="menu-topic__title">
                <div class="menu-topic__title-name">Desserts</div>
            </div>
            <div class="menu-topic__arrow">
                <span></span>
            </div>
        </div>
    </div>

    <div class="mainmenu">
        <div class="mainmenu__title">
            <div class="mainmenu__title-text">
                <div class="mainmenu__title-text-main">neque ero ullamcorper sed</div>
                <div class="mainmenu__title-text-secondary">Ultrices cursus sit amet placerat tortor</div>
                
            </div>
            <div class="mainmenu__title-image">
                <img src="../../../static/img/advanced/html1/menu_icon.png" alt="menu-icon">
            </div>
        </div>
        <div class="mainmenu__sections">
            <div class="mainmenu__section">
                <div class="mainmenu__section-title section_dark">
                    tincidunt at Mauris
                </div>
                <div class="mainmenu__section-content">
                    <div class="mainmenu__dish-type">
                        <div class="mainmenu__dish-type-name">
                            id hendrerit velit quis
                        </div>
                        <div class="mainmenu__dish-type-img">
                            <img src="../../../static/img/advanced/html1/dish_logo1.png" alt="">
                        </div>
                    </div>
                    <div class="mainmenu__dish">
                        <div class="mainmenu__dish-head">
                            <div class="mainmenu__dish-name">
                                · Lass aptent taciti
                            </div>
                            <div class="mainmenu__dish-price">$1200</div>
                        </div>
                        <div class="mainmenu__dish-details">
                            Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis.
                        </div>
                    </div>
                    <div class="mainmenu__dish">
                        <div class="mainmenu__dish-head">
                            <div class="mainmenu__dish-name">
                                · Nec fermentum nibh
                            </div>
                            <div class="mainmenu__dish-price">$1200</div>
                        </div>
                        <div class="mainmenu__dish-details">
                            Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis.
                        </div>
                    </div>
                    <div class="mainmenu__dish">
                        <div class="mainmenu__dish-head">
                            <div class="mainmenu__dish-name">
                                · Eu dolor accumsan pharetra
                            </div>
                            <div class="mainmenu__dish-price">$1200</div>
                        </div>
                        <div class="mainmenu__dish-details">
                            Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis.
                        </div>
                    </div>
                    <div class="mainmenu__dish">
                        <div class="mainmenu__dish-head">
                            <div class="mainmenu__dish-name">
                                · Non duis dictum eros nec
                            </div>
                            <div class="mainmenu__dish-price">$1200</div>
                        </div>
                        <div class="mainmenu__dish-details">
                            Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis.
                        </div>
                    </div>

                    <div class="mainmenu__dish-type">
                        <div class="mainmenu__dish-type-name">
                            id dolor Pellentesque
                        </div>
                        <div class="mainmenu__dish-type-img">
                            <img src="../../../static/img/advanced/html1/dish_logo2.png" alt="">
                        </div>
                    </div>
                    <div class="mainmenu__dish">
                        <div class="mainmenu__dish-head">
                            <div class="mainmenu__dish-name">
                                · Lass aptent taciti
                            </div>
                            <div class="mainmenu__dish-price">$1200</div>
                        </div>
                        <div class="mainmenu__dish-details">
                            Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis.
                        </div>
                    </div>
                    <div class="mainmenu__dish">
                        <div class="mainmenu__dish-head">
                            <div class="mainmenu__dish-name">
                                · Nec fermentum nibh
                            </div>
                            <div class="mainmenu__dish-price">$1200</div>
                        </div>
                         <div class="mainmenu__dish-details">
                            Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis.
                        </div>
                    </div>




                </div>




            </div>
            <div class="mainmenu__section">
                <div class="mainmenu__section-title section_bright">
                    vestibulum augue et
                </div>
                <div class="mainmenu__section-content">
                    <div class="mainmenu__dish-type">
                        <div class="mainmenu__dish-type-name">
                            augue Proin eleifend
                        </div>
                        <div class="mainmenu__dish-type-img">
                            <img src="../../../static/img/advanced/html1/dish_logo3.png" alt="">
                        </div>
                    </div>
                    <div class="mainmenu__dish">
                        <div class="mainmenu__dish-head">
                            <div class="mainmenu__dish-name">
                                · Lass aptent taciti
                            </div>
                            <div class="mainmenu__dish-price">$1200</div>
                        </div>
                        <div class="mainmenu__dish-details">
                            Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis.
                        </div>
                    </div>
                    <div class="mainmenu__dish">
                        <div class="mainmenu__dish-head">
                            <div class="mainmenu__dish-name">
                                · Nec fermentum nibh
                            </div>
                            <div class="mainmenu__dish-price">$1200</div>
                        </div>
                        <div class="mainmenu__dish-details">
                            Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis.
                        </div>
                    </div>
                    <div class="mainmenu__dish">
                        <div class="mainmenu__dish-head">
                            <div class="mainmenu__dish-name">
                                · Eu dolor accumsan pharetra
                            </div>
                            <div class="mainmenu__dish-price">$1200</div>
                        </div>
                        <div class="mainmenu__dish-details">
                            Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis.
                        </div>
                    </div>
                    <div class="mainmenu__dish">
                        <div class="mainmenu__dish-head">
                            <div class="mainmenu__dish-name">
                                · Non duis dictum eros nec
                            </div>
                            <div class="mainmenu__dish-price">$1200</div>
                        </div>
                        <div class="mainmenu__dish-details">
                            Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis.
                        </div>
                    </div>

                    <div class="mainmenu__dish-type">
                        <div class="mainmenu__dish-type-name">
                            pharetra at sit amet sem
                        </div>
                        <div class="mainmenu__dish-type-img">
                            <img src="../../../static/img/advanced/html1/dish_logo4.png" alt="">
                        </div>
                    </div>
                    <div class="mainmenu__dish">
                        <div class="mainmenu__dish-head">
                            <div class="mainmenu__dish-name">
                                · Lass aptent taciti
                            </div>
                            <div class="mainmenu__dish-price">$1200</div>
                        </div>
                        <div class="mainmenu__dish-details">
                            Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis.
                        </div>
                    </div>
                    <div class="mainmenu__dish">
                        <div class="mainmenu__dish-head">
                            <div class="mainmenu__dish-name">
                                · Nec fermentum nibh
                            </div>
                            <div class="mainmenu__dish-price">$1200</div>
                        </div>
                         <div class="mainmenu__dish-details">
                            Praesent hendrerit massa ut libero bibendum pulvinar. Pellenteue eget tortor dolor. Nam quis nunc et eros mollis facilisis.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer__logo">
            <img src="" alt="">
        </div>
        <div class="footer__text">
            <div class="footer__text-row">Best pizza from 2018 year.</div>
            <div class="footer__text-row">New UA/UX salads - not boring, only fun.</div>
        </div>
    </footer>

</div>


<script src="../../../static/js/advanced/html1/html1.js"></script>
</body>
</html>