<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    - маленький (50 гривен, 20 калорий)<br>
    - большой (100 гривен, 40 калорий)<br>
- Гамбургер должен включать одну дополнительную начинку (обязательно):<br>
    - сыр (+ 10 гривен, + 20 калорий)<br>
    - салат (+ 20 гривен, + 5 калорий)<br>
    - картофель (+ 15 гривен, + 10 калорий)<br>
- Дополнительно, в гамбургер можно добавить приправу (+ 15 гривен, 0 калорий) и полить майонезом (+ 20 гривен, + 5 калорий). <br>
<script src="../../../static/js/advanced/js/js2.js"></script>

</body>
</html>