body{
    background: url("../../img/index/dark_bg.jpg") center 0/cover no-repeat fixed;
    backdrop-filter: blur(3px) grayscale(100%);
}
.content{
    padding: 30px;

    min-height: 100vh;
    position: relative;

    /*Photo by Elti Meshau from Pexels*/



}


h1{
    font-size: 40px;
    color: cornsilk;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: #14b9d5 1px 1px 10px;
    font-family: 'Pacifico', cursive;
    /*margin-top: 2rem;*/

}

.container{
    padding: 30px 20% 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.homework_button{
    display: block;
    position: relative;
    /*width: 100px;*/
    padding: 30px 25px;
    margin: 0px 10px 20px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    letter-spacing: 3px;
    color: whitesmoke;
    font-weight: 700;
    /*text-shadow: #aed5c5 1px 1px 10px;*/
    transition-delay: 0.2s;
    overflow: hidden;
    border-radius: 2px;
}

.homework_button span{
    position: absolute;
    display: block;
}

.homework_button span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}

.homework_button:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

.homework_button span:nth-child(2){
    top: -100%;
    right: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(180deg, transparent, #2196f3);
}

.homework_button:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.homework_button span:nth-child(3){
    bottom: 0;
    left: 100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

.homework_button:hover span:nth-child(3){
    left: -100%;
    transition: 1s;
    transition-delay: 0.0s;

}

.homework_button span:nth-child(4){
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 2px;
    background: linear-gradient(0deg, transparent, #2196f3);
}

.homework_button:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.homework_button:hover{
    /*border: 4px solid #64fffa;*/
    /*    text-shadow: #aed5c5 1px 1px 10px;*/
        color: #255784;
        background: #2196f3;
        box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 10px #2196f3, 0 0 40px #2196f3;
        transition-delay: 0.60s;
}



.cube_space{
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
    /*margin: 0 auto;*/
    width: 100px;
    height: 100px;
    perspective: 1000px;

}
.cube{
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    /*transform: rotate3d(1, 1, 1, 45deg);*/
    animation: cube_rotate 6s 0s alternate-reverse infinite;

}

.cube_side {
    position: absolute;
    border: 5px solid white;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    align-items: center;
    text-align: center;
    vertical-align: center;
    width: inherit;
    height: inherit;
    line-height: 100px;
    color: white;
    backface-visibility: hidden;
    background-color: inherit;
}

.cube:hover {
    background-color: darkred;

}

.cube .top {
    transform: rotateX(90deg) translateZ(50px);
}
.cube .bottom {
    transform: rotateX(-90deg) translateZ(50px);
}
.cube .left {
  transform: rotateY(-90deg) translateZ(50px);

}
.cube .right {
    transform: rotateY(90deg) translateZ(50px);
}
.cube .front {
    transform: translateZ(50px);
}
.cube .back {
    transform: rotateY(180deg) translateZ(50px);
}

@keyframes cube_rotate{
    0%{
    transform: rotateX(60deg);
}
    25%{
    transform: rotateX(140deg) rotateY(40deg);
}
        50%{
    transform: rotateX(-90deg) rotateY(45deg);
}
        75%{
    transform: rotateX(70deg) rotateY(70deg);
}

    100%{
		transform: rotateX(120deg) rotateX(50deg);
}
}


.pyramid_space {
    margin: 0 auto;
    position: relative;
    width: 150px;
    height: 130px;
    perspective: 1000px;

}
.pyramid {
    /*position: absolute;*/
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    /*transform: rotate3d(1, 1, 1, 45deg);*/
    /*animation: pyramid_rotate 6s 0s alternate-reverse infinite;*/
}
.pyramid_side {
    position: absolute;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    align-items: center;
    text-align: center;
    vertical-align: center;
    width: inherit;
    height: inherit;
    /*line-height: 100px;*/
    color: white;
    /*backface-visibility: hidden;*/
    background-color: transparent;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
        /*border: 5px solid white;*/
}

.pyramid_side .triangleside1{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: red;
    border-top: 1px solid green;
}
.pyramid_side .triangleside2{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: red;
    transform-origin: left;
    transform: rotate(300deg);
    border: 2px solid green;

}
.pyramid_side .triangleside3{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: red;
    transform-origin: right;
    transform: rotate(60deg);
    border: 2px solid green;
}

.sideA {
    background-color: #00ff0040;

}
.sideB {
    transform-origin: bottom right;
    transform: rotate(60deg);
    background-color: #0000ff40;
    transition-duration: 1s;

    /*transform-origin: bottom right;*/

    transition-duration: 1s;

}
.sideC {
    transform-origin: bottom right;
    transform: rotate(-60deg) ;
    background-color: #ff00ff40;

}
.sideD {
    transform-origin: bottom left;
    transform: rotate(-60deg);
    background-color: #ffff0040;

}




.pyramid {
    transform: rotate3d(1, 1, 1, 45deg);
}