{% extends 'homework/js/layout_for_js.html' %}
{% load static %}
{% block title %}{{ task_id }}{% endblock title %}

{% block hw_number %}{{ task_id }}{% endblock hw_number %}

{% block style %}
          .image-to-show {
        width: 400px;
        height: 400px;
      }

      .images-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
{% endblock style %}

{% block task_def %}
    <script>
        let maindiv = document.createElement('div');
        maindiv.innerText += `{{ task_definition }}`;
        let task_place = document.querySelector('.task_text');
        task_place.append(maindiv);
    </script>
{% endblock task_def %}

{% block content %}
        <div class="images-wrapper">
      <img src="{% static 'img/js_tasks/hw12/1.jpg' %}" alt="image of game" class="image-to-show" />
      <img src="{% static 'img/js_tasks/hw12/2.jpg' %}" alt="image of game" class="image-to-show" />
      <img src="{% static 'img/js_tasks/hw12/3.JPG' %}" alt="image of game" class="image-to-show" />
      <img src="{% static 'img/js_tasks/hw12/4.png' %}" alt="image of game" class="image-to-show" />
    </div>
{% endblock content %}
