{% extends 'homework/js/layout_for_js.html' %}

{% block title %}{{ task_id }}{% endblock title %}

{% block hw_number %}{{ task_id }}{% endblock hw_number %}

{% block style %}
    	.btn-wrapper{
		height: 60vh;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.btn{
		border: none;
		border-radius: 20px;
		min-width: 120px;
		padding: 7px;
		color: #fff;
		font-size: 14px;
		background-color: #33333a;
		cursor: pointer;
	}
	.btn:active,
	.btn:focus{
		outline: none;
	}
{% endblock style %}

{% block task_def %}
    <script>
        let div = document.createElement('div');
        div.innerText += `{{ task_definition }}`;
        let task_place = document.querySelector('.task_text');
        task_place.append(div);
    </script>
{% endblock task_def %}

{% block content %}
    	<div class="btn-wrapper">
    	<button class="btn">Enter</button>
		<button class="btn">S</button>
		<button class="btn">E</button>
		<button class="btn">O</button>
		<button class="btn">N</button>
		<button class="btn">L</button>
		<button class="btn">Z</button>
	</div>
{% endblock content %}
