.pagecontainer{
    min-width: 320px;
}


.container{
    padding: 0 19px;
}

.navigation{
    background: #373c3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    position: relative;
}
.navigation__logo{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 17px 11px;
    /*line-height: 26px;*/
}
.navigation__burger{
    background: #202529;
    padding: 10px 12px 10px 12px;
    /*height: 100%;*/
    /*background: #fff;*/
}

.burger{
    height: 19px;
    width: 19px;
    background: #202529;
    /*padding: 20px;*/
    color: white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*!*justify-content: space-between;*!*/
    /*justify-content: center;*/


}

.burger__line{
    display: block;
    height: 2px;
    width: 84%;
    position: absolute;
    transition: 1s;
    left: 2px;

}

.burger__line:first-child{
        background: #fff;
        /*transform-origin: right bottom;*/
        top: 3px;



}

.burger__line:nth-child(2){
    background: #fff;
    top: 50%;
    transform: translateY(-100%);
    opacity: 1;

}

.burger__line:last-child{
    background: #fff;
    bottom: 5px;

}
.burger.active_burger .burger__line{
        width: 100%;
    left: 0

}

.burger.active_burger .burger__line:first-child{
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
    transition: 1s;
}

.burger.active_burger .burger__line:nth-child(2){
    bottom: 50%;
    transition: .2s;
    /*display: none;*/
    opacity: 0;
}

.burger.active_burger .burger__line:last-child{
    bottom: 50%;
    transform: translateY(50%) rotate(225deg);
        transition: 1s;

}

.navigation__dropdown-menu{
    position: absolute;
    right: 0;
    top: 100%;
    padding: 1px 0;
    background: #fafafa;

    opacity: 1;
    transform-origin: top right;
    transform: scale(1);
    transition: 1s;

}
.navigation__dropdown-item{
    display: block;
    color: #444444;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 31px;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    padding: 0 12px;
    width: 182px;
    margin-bottom: -1px;
}

.navigation__dropdown-item:hover{
    background-color: #f5f5f5;
    border-top: 1px solid rgba(0, 0, 0, 0.35);


}

.hidden_dropdown{
    /*visibility: hidden;*/
    opacity: 0;
    transition: 1s;
    transform-origin: top right;
    transform: scale(0.01);
}



.jumbotron {
    padding-top: 14px;
    padding-bottom: 94px;
    background: url("../../../img/advanced/html1/header-fon.png") center center/cover no-repeat;
}
.jumbotron__slogan {}
.jumbotron__slogan-row {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    /*line-height: 20px;*/
    padding-bottom: 6px;
}
.jumbotron__website {
        display: block;
    color: #a6d6e0;

    font-family: 'Lato', sans-serif;
font-size: 14px;
font-weight: 700;
    padding: 5px 0 0;
/*line-height: 64px;*/
}

.menu-blocks{
    display: flex;
    flex-direction: column;
    padding-top: 4px;


}
.menu-blocks__topic{
    height: 75px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-topic__title{


    flex: 1 1;
    text-align: center;
    margin-top: 1px;
    /*line-height: 44px;*/
    height: 75px;
    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu-topic__title-name{
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.menu-topic__arrow{
    display: block;
    background-color: #add7ae;
    width: calc(100% * 0.221875);
    height: 75px;
    position: relative;
}

.menu-blocks__topic:nth-child(1) .menu-topic__title{
    background: url("../../../img/advanced/html1/Pizza_delivery_fon.png") 0 0/cover no-repeat ;
}
.menu-blocks__topic:nth-child(2) .menu-topic__title {
        background: url("../../../img/advanced/html1/UX_Salads_fon.png") 100% bottom/cover no-repeat;
}
.menu-blocks__topic:nth-child(3) .menu-topic__title{
        background: url("../../../img/advanced/html1/Desserts_fon.png") center center/cover no-repeat;
}

.menu-blocks__topic:nth-child(1) .menu-topic__title-name{
        margin: -5px -1px 0 0;
}
.menu-blocks__topic:nth-child(2) .menu-topic__title-name{
        margin: -1px 0 0 21px;
}
.menu-blocks__topic:nth-child(3) .menu-topic__title-name{
        margin: -6px 7px 0 0;
}

.menu-topic__arrow span{
    display: block;
    align-self: center;
    position: absolute;
    left: 40%;
    top: 42%;
}
.menu-topic__arrow span:before{
    display: block;
    content: '';
    height: 2px;
    width: 8px;
    background-color: #ffffff;
    transform-origin: right;
    transform: rotate(-45deg);
}
.menu-topic__arrow span:after{
    display: block;
    content: '';
    height: 2px;
    width: 8px;
    background-color: #ffffff;
    transform-origin: right;
    transform: rotate(45deg);

}


/**/


.mainmenu {}
.mainmenu__title {
    padding-top: 18px;
    padding-bottom: 10px;
}
.mainmenu__title-text {
    padding: 0 7px;
}
.mainmenu__title-text-main {
    color: #3f4043;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    }

.mainmenu__title-text-secondary {
    color: #cbccce;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: 400;
    margin-top: 3px;
    margin-left: 1px;
}
.mainmenu__title-image {
    display: none;
}
.mainmenu__sections {
    display: flex;
    flex-direction: column;

}
.mainmenu__section {
    /*flex-basis: 100%;*/
    margin-bottom: 5px;
}
.mainmenu__section-title{
    padding: 9px 18px;
}
.section_dark {
        background-color: #3f4043;

    color: #acd8ad;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}
.section_bright {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #add7ae;
}
.mainmenu__section-content {
    padding: 0 18px 15px 16px;
    margin-top: -6px;

}
.mainmenu__dish-type {
    display: flex;
    justify-content: space-between;
    margin-top: 17.45px;
    margin-bottom: 15.2px;

}
/*.mainmenu__section-content .mainmenu__dish-type:first-child {*/
/*        margin-top: 11px;*/
/*}*/
.mainmenu__dish-type-name {
    color: #3f4043;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 5px 0 0 1px;
}

.mainmenu__dish-type-img {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    /*border: 1px solid pink;*/


}
.mainmenu__dish {
    color: #3f4043;
    font-family: 'Lato', sans-serif;
    margin-bottom: 11px;

}
.mainmenu__dish-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px

}
.mainmenu__dish-name {
        letter-spacing: -0.2px;
        font-size: 14px;
        font-weight: 400;
}
.mainmenu__dish-price {
        font-size: 14px;
        font-weight: 700;
}
.mainmenu__dish-details {
    font-size: 9px;
    font-weight: 400;
    letter-spacing: -0.07px;
    text-align: justify;
    line-height: 9.154px;

}

/**/

footer{
    background-color: #acd8ad;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    padding: 13px 10px;
}
.footer__logo{
    display: none;
}
.footer__text{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    /*line-height: 16px;*/
}
.footer__text-row{
    display: block;
    text-align: center;
}
.footer__text-row:first-child{
    margin-bottom: 6px;
}

@media only screen and (min-width: 640px) {
.pagecontainer {}
.navigation {}
.navigation_small {}
.navigation__logo {
    font-size: 24px;
    font-weight: 400;
    padding: 23px 37px 28px;
}
.navigation__burger {
padding: 23px 23px;

}
.burger {
    height: 29px;
    width: 36px;
    box-sizing: border-box;
}
.burger__line {
    display: block;
    height: 4px;
    width: 85%;
    position: absolute;
    transition: 1s;
}
.navigation__dropdown-menu {
    padding: 1px 0 12px;
}
.hidden_dropdown {}
.navigation__dropdown-item {
    font-size: 14px;

/*    */

    /*line-height: 40px;*/
    padding: 10px 27px 0;
    width: 242px;
    margin-bottom: -2px;

}

.burger__line:nth-child(2){

    top: 47%;
    transform: translateY(-50%);
    opacity: 1;

}

.burger__line:last-child{
    background: #fff;
    bottom: 5px;

}
.container {
    padding: 0 39px;
}
.jumbotron {
    padding-top: 25px;
    padding-bottom: 198px;
}

.jumbotron__slogan {}
.jumbotron__slogan-row {
        font-size: 36px;
    font-weight: 700;
}
.jumbotron__website {
    font-size: 24px;
    font-weight: 700;
    padding: 15px 0 0;
}
.menu-blocks {}
.menu-blocks__topic {
    height: inherit;
    margin-bottom: 0.5px;

}
.menu-topic__title {
    height: 150px;

}
.menu-topic__title-name {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    /*height: inherit;*/
    /*padding: 58px 0;*/
}
.menu-topic__arrow {
    height: 150px;
    width: 142px;
}

.menu-topic__arrow span:before{
    display: block;
    content: '';
    height: 2px;
    width: 15px;
    background-color: #ffffff;
    transform-origin: right;
    transform: rotate(-45deg);
    border-radius: 2px;
}
.menu-topic__arrow span:after{
    display: block;
    content: '';
    height: 2px;
    width: 15px;
    background-color: #ffffff;
    transform-origin: right;
    transform: rotate(45deg);
    border-radius: 2px;

}

.menu-blocks__topic:nth-child(1) .menu-topic__title-name{
        margin: 0 0 0 0;
}
.menu-blocks__topic:nth-child(2) .menu-topic__title-name{
        margin: 0 0 0 0;
}
.menu-blocks__topic:nth-child(3) .menu-topic__title-name{
        margin: 0 0 0 0;
}

.menu-blocks__topic:nth-child(1) .menu-topic__title{
        background: url("../../../img/advanced/html1/Pizza_delivery_fon640.png") 0 0/cover no-repeat ;
}
.menu-blocks__topic:nth-child(2) .menu-topic__title {
        background: url("../../../img/advanced/html1/UX_Salads_fon640.png") 100% bottom/cover no-repeat;
}
.menu-blocks__topic:nth-child(3) .menu-topic__title{
        background: url("../../../img/advanced/html1/Desserts_fon640.png") center center/cover no-repeat;
}


.mainmenu {}
.mainmenu__title {
    padding-top: 37px;
    padding-bottom: 20px
}
.mainmenu__title-text {
    padding: 0 0 0 18px;


}
.mainmenu__title-text-main {
    font-size: 40px;
    font-weight: 400;
}
.mainmenu__title-text-secondary {
    font-size: 20px;
    font-weight: 400;
    margin-top: 7px;
    margin-left: 4px;
}
.mainmenu__title-image {}
.mainmenu__sections {}
.mainmenu__section {}
.mainmenu__section-title {
    font-size: 40px;

    padding: 17px 37px;
 margin-bottom: 22px;
}
.section_dark {}
.mainmenu__section-content {
 padding: 0 33px 15px 36px;
margin-top: -6px;
}

.mainmenu__dish-type {
    margin-top: 26px;
    margin-bottom: 35px;
}
.mainmenu__dish-type-name {
    font-size: 30px;
    padding: 13px 0 0 0;
}
.mainmenu__dish-type-img {
height: 50px;
width: 51px;
}
.mainmenu__dish-type-img img {
    height: 100%;
}

.mainmenu__dish {
    margin-bottom: 19px;
}
.mainmenu__dish-head {
    margin-bottom: 16px;
}
.mainmenu__dish-name {
    font-size: 27px;
    letter-spacing: 0;
}
.mainmenu__dish-price {
    font-size: 27px;
    letter-spacing: 0;

font-weight: 700;
}
.mainmenu__dish-details {
    font-size: 18px;
    letter-spacing: -0.2px;
    line-height: 19px;
}
.section_bright {}
footer {
    margin-top: 79px;
    padding: 19px 10px;
}
.footer__logo {}
.footer__text {}
.footer__text-row {
font-size: 18px;
line-height: 31px;
}
.footer__text-row:first-child {
    margin-bottom: -2px;
}


}