body{
    background: url("../../img/js_tasks/index/js_bg.png") center center/cover no-repeat fixed;
    font-family: sans-serif;
    font-size: 20px;
}
.heading{
    position: relative;
    background: greenyellow;
    width: 100%;
    text-align: center;
    overflow: hidden;

}
.task_button{
    color: #14b9d5;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin: 0 auto;
    padding: 10px 0;
}

.task_text{
    position: absolute;
    background: greenyellow;
    top: 150%;
    right: 10%;
    width: 80%;
    padding: 20px 10px;
    border-radius: 20px;
    opacity: 90%;
}
.heading:hover{
    overflow: visible;
}




