*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

.container {

    max-width: 1160px;
    min-width: 1160px;

    margin: 0 auto;
    /*border: 1px solid pink;*/
}

.topsection {
    min-width: 1160px;

    background-image: url("../../../img/step_projects/step_ham/Sections background/section-1(header).jpg");
    background-position: center;
    background-size: cover;
}
.topheader {
    background-color: #49473f60;

}
.underline{
    position: absolute;
    /*width: 100%;*/
    height: 2px;
    top: 100%;
    left: 0;
    background-color: #18cfab;
}
.topheadercontainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 28px 0 25px 0;
        position: relative;


}

.topheager_logosection {
    display: flex;
    align-items: center;

}
.topheager_logosection_logo {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 31px;
    text-transform: uppercase;
    background-color: #18cfab;
    padding: 20px 16px;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);

}
.topheager_logosection_name {
    font-size: 32px;
    font-weight: 400;
    line-height: 64.3px;
    /* Text style for "the" */
    color: #ffffff;
}
.topheager_logosection_name span{
    font-weight: 700;

}


.topheager_linksbar {
        display: flex;

}
.topheager_linksbar_link {
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    margin: 0 10px;
    opacity: 100%;
        /*border: 1px solid red;*/
    cursor: pointer;

}


.topheager_linksbar_searchicon {
    display: flex;
    align-items: center;
}

.jumbotron {
    /*height: 1000px;*/
    text-align: center;
    padding: 246px 0;
}
.jumbotron_topphrase {
    font-size: 35px;
    font-weight: 700;
    /*line-height: 9.53px;*/
    text-transform: uppercase;
    /* Text style for "The Ham is" */
    color: #ffffff;

}
.jumbotron_bigslogan {
    color: #ffffff;
    font-size: 79px;
    font-weight: 700;
    /*line-height: 84.24px;*/
    text-transform: uppercase;
    margin-top: 45px;

}
.jumbotron_smallslogan {
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    margin-top: 37px;
    margin-bottom: 138px;

    /*line-height: 84.24px;*/
}
.jumbotron_buttons {}
.button{
    display: inline-block;
    min-width: 166px;
    padding: 26px 0;
    border-radius: 4px;
    cursor: pointer;
}
.whitelinebutton {
    box-shadow: white 0 -4px;
}
.jumbotron_buttons_green {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    /*line-height: 31.83px;*/
    text-transform: uppercase;
}
.jumbotron_buttons_blue {
    background-color: #00cbf6;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    /*line-height: 31.83px;*/
    text-transform: uppercase;
}

.jumbotron_buttons_button{
    margin: 0 14px;
}

/**/

.bigbuttonnsection {
    display: flex;
    min-width: 1160px;


}
.bigbuttonnsection_bigbutton {
    flex-basis: 25%;
    /*text-align: center;*/

    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.bigbuttondark {
    color: #18cfab;
    background-color: #1c2a33;
        border-top: 7px solid #18cfab;


}
.bigbuttonlight {
    color: #ffffff;
    background-color: #18cfab;
    border-top: 7px solid #fff;


}
.bigbuttonnsection_bigbutton_logo {
    /*border: 1px solid red;*/
    height: 97px;
    display: flex;
    margin-top: 95px;
    /*justify-content: center;*/

}
.bigbuttonnsection_bigbutton_logo img{
    /*flex: 0 0;*/
    align-self: center;

}


.bigbuttonnsection_bigbutton_slogan {
    margin-bottom: 120px;
    margin-top: 48px;

}



/**/



.ourservices {
    background: white;
}
.ourservices_container {
    text-align: center;
}
.ourservices_title {
    margin-top: 82px;
    margin-bottom: 37px;
}
.section_title {
    color: #4e4e4e;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
}
.section_linesymbol {
    display: inline-block;
    width: 88px;
    height: 5px;
    /*border: 1px solid pink;*/
    position: relative;
}
.section_linesymbol:before {
    content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    left: 0;
    top: 0;
}

.section_linesymbol:after {
    content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    right: 0;
    bottom: 0;
}


/**/



.ourservices_tabbar {
    margin-top: 70px;
    display: flex;
    width: 100%;
    margin-bottom: 25px;

}
.ourservices_tab {
    position: relative;
    background-color: #f8fcfe;
    border: 1px solid #f4f7f8;
    flex-basis: calc(100%/6);
    color: #717171;
    font-size: 16px;
    font-weight: 400;
    padding: 27px 0 30px;
    cursor: pointer;

}
.ourservices_tab_active {
    color: #ffffff;
    background-color: #18cfab;
    border: none;
}



.ourservices_post {
    display: none;
    /*visibility: hidden;*/
}

.ourservices_post_active {
    display: flex;
    margin-bottom: 103px;
    align-items: baseline;
}



.ourservices_postcontent_picture {
    flex-basis: calc(100%/6);



}
.ourservices_postcontent_picture img {
    width: 100%;
    size: inherit;
        border: 1px solid gray;

}

.ourservices_postcontent_text {
    flex-basis: calc(100%/6*5);
    padding-left: 20px;
    text-align: justify;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    text-align-last: left;
    /*margin-top: -6px;*/
}



/**/


.everythingsection {
    text-align: center;
    background-image: url("../../../img/step_projects/step_ham/Sections background/section-2.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: inset 100vw 100vh rgba(0,0,0,0.78);

}
.everythingsection_title {
    color: #18cfab;
    /*font-family: Montserrat;*/
    font-size: 40px;
    font-weight: 700;
    /*line-height: 40.46px;*/
    text-transform: uppercase;
    padding: 128px 0 35px;
}
.everythingsection_text {
    color: #d8d8d8;
font-size: 16px;
font-weight: 400;
/*line-height: 40px;*/
}
.everythingsection_button {
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    /*line-height: 31.83px;*/
    text-transform: uppercase;
    margin: 80px 0 127px;
}



/**/



.amazingwork {
    background: #f8fcfe;
}
.amazingwork_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.amazingwork_title {
    margin: 97px 0 26px;
}
.amazingwork_tabbar {
    display: flex;
    margin: 70px 0;
    position: relative;
}

.overline{
    position: absolute;
    height: 2px;
    bottom: 100%;
    left: 0;
    background-color: #18cfab;
}


.section_linesymbol_tab {
    background: #ffffff;
    padding: 24px;
    border: 1px solid #ebebeb;

    color: #717171;
    /*font-family: Montserrat;*/
    font-size: 14px;
    font-weight: 400;
    /*line-height: 42px;*/
    margin-right: -2px;
    cursor: pointer;
}
.amazingwork_picturesblock {
    display: flex;
    flex-wrap:wrap;
}
.amazingwork_picturesblock_picture {
    flex-basis: 25%;
}
.amazingwork_picturesblock_picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*border: 1px solid pink;*/
}

.amazingwork_picturesblock_picture_hover{}
.amazingwork_picturesblock_picture_hover_buttons{
    /*background-color: green;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
    cursor: pointer;
}
.amazingwork_picturesblock_picture_hover_button{
    border-radius: 50%;
    padding: 15px;
    margin-right: 5px;
}
.amazingwork_picturesblock_picture_hover_button_search{
    background: #18cfab;
    padding-bottom: 14px;
}
.amazingwork_picturesblock_picture_hover_button_download{
        border: 1.5px solid #1fdab5;
        padding: 14px;
}

.amazingwork_picturesblock_picture_hover_slogan{
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    /*line-height: 24.87px;*/
    text-transform: uppercase;
    margin: 34px 0 13px;
}
.amazingwork_picturesblock_picture_hover_category{
    color: #8a8a8a;

    font-size: 12px;
    font-weight: 300;
    /*line-height: 24.87px;*/
    }

.amazingwork_button {}



/**/


.breakingnews {}
.breakingnews_containe {}
.breakingnews_title {}
.breakingnews_postgrid {}
.breakingnews_postgrid_post {}
.breakingnews_postgrid_post_date {}
.breakingnews_postgrid_post_date_day {}
.breakingnews_postgrid_post_date_month {}
.breakingnews_postgrid_post_image {}
.breakingnews_postgrid_post_discription {}
.breakingnews_postgrid_post_discription_title {}
.breakingnews_postgrid_post_discription_author {}
.breakingnews_postgrid_post_discription_verticalline {}
.breakingnews_postgrid_post_discription_commentscount {}


/**/


.peoplesay {}
.peoplesay_container {}
.peoplesay_title {}
.peoplesay_quotes {}
.peoplesay_text {}
.peoplesay_chosenblock {}
.peoplesay_chosenblock_name {}
.peoplesay_chosenblock_position {}
.peoplesay_chosenblock_picture {}
.peoplesay_carousel {}
.peoplesay_carousel_navigationarrow {}
.peoplesay_carousel_people_options {}




/**/



.galery {}
.galery_container {}
.galery_title {}
.galery_pictures_grid {}
.galery_pictures_grid_column {}
.galery_pictures_grid_column_slide {}
.galery_loadbutton {}


/**/


footer{}
.footer_copyright {}

.greentext{
    color: #18cfab;
}
.greenbg{
    background-color: #18cfab;
}
