
@font-face {
// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
font-family: myriad-pro-condensed, sans-serif;
// адрес шрифта и тип 
src: url("../../../static/css/hw2/8143.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 


.general_container {
	width: 1281px;
	margin: 0 auto;
	font-family: myriad-pro-condensed, sans-serif;
	font-weight: 400;

	/*font-style: normal;*/

}

.logo {
	margin-top: 61px;
	margin-bottom: 44px;
}
.logo__link {
	text-decoration: none;
	color: #000;
	font-size: 74px;
	display: inline-block;
}



.logo__link_colorful {
	color: #4BCAFF;
}

.header {
	background-color: #35444F;
	/*height: 70px;*/

	width: 100%;
	text-align: center;
	margin-bottom: 51px;
	letter-spacing: 1px

}
.header__link {
	font-size: 22px;
	padding: 26px 41px;
	color: #FFFFFF;
	display: inline-block;


}

.header__link:hover{
	background-color: #222F3A;
	border-right: 1px solid #818181;
	border-left: 1px solid #818181;
}

.content {
	width: 100%;
}
.content__leftbar {
	display: inline-block;
	width: 344px;
	vertical-align: top;
	border: 1px solid #35444F;
	color: #495863;
	margin-right: 48px;
	white-space: 0px

}
.content__leftbar_item {
 	width: 100%;
	display: inline-block;
	padding: 30px 0px 30px 44px;

	font-size: 30px;
}
.content__leftbar_item:hover {
	padding: 28px 0px 28px 70px;
	color: #000;
	background-color: #DBDBDB;


}
.content__maincontent {
	display: inline-block;
	width: 885px;
	margin-right: -3px;


}
.content__maincontent_imageframe {
	padding: 75px 268px 73px 297px;
	border: 1px solid #35444F;
	width: 100%

}
.image {
	width: 320px;
	height: 381px;
	transition: all 1s ease-out;
}

.image:hover {
	transform: scale(1.1);
	transition-duration: 0.5s;

}


.content__maincontent_texttopic {
	padding-left: 30px;
	padding-right: 40px;
	font-size: 18px

}

.content__maincontent p{
padding-top: 50px;
}

.content__maincontent_texttopic:last-child {
padding-top: 30px;

}

footer {
	background-color: #B4B7BA;
	margin-top: 51px;
	word-spacing: 2px;
}
.footer__menu {
	padding: 0 0 0 44px; 
	display: inline-block;
	width: 809px;

}
.footer__menu_item {
	display: inline-block;
	font-size: 26px;
	margin: 18px -10px;
	padding: 5px 12px
}
.footer__menu_item:hover {
	color: #3181A6;
	border-bottom: 1px solid #3181A6;
}

.footer__copyright {
	width: 427px;
	display: inline-block;
	font-size: 24px;
	/*padding-right: 34px;*/
	text-align: right;

}
