
@font-face {
// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
font-family: myriad-pro-condensed, sans-serif;
// адрес шрифта и тип 
src: url("../hw2/8143.otf") format("truetype");
font-style: normal; 
font-weight: normal; 
} 

.container{
	font-family: Verdana, sans-serif;
	width: 1366px;
	height: 768px;
	background-image: url('../../../img/html/hw3/bg.png');
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 49px 147px 20px 155px;


}
header {
	width: 100%;
	/*border: 1px solid pink;*/
	margin-bottom: 44px;

}
.logo {
	/*border: 1px solid pink;*/
	display: inline-block;


}
.logo_image {
	float: left;
	/*border: 1px solid green;*/
	margin-right: 15px

}



.logo_milan {
	color: #f26522;
	font-family: Verdana;
	font-size: 29px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
	/*border: 1px solid blue;*/
	display: inline-block;
	margin-left: -1px;
	margin-top: -1px;


}
.logo_holidays {

	color: #f26522;
	font-family: Verdana;
	font-size: 18px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
	/*border: 1px solid red;*/
	vertical-align: bottom;
	display: inline-block;

	/*margin-bottom: 0;	*/
	margin-bottom: -4px;
	margin-top: 4px;





}
.contacts {
	float: right;
	display: inline-block;
	text-align: right;
}
.contacts_email {
	color: #ffffff;
	font-family: Verdana;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	display: inline-block;
	margin-top: 6px;


}
.contacts_telephone {
	/*width: 169px;*/
	/*height: 14px;*/
	color: #ffffff;
	font-family: Verdana;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	display: inline-block;


}
.content {

}
.content__card {
	display: inline-block;
	margin-bottom: 55px;
	margin-right: 60px;
}
.content__card:last-child, .content__card:nth-child(3)  {
	margin-right: 0px;
}

.content__card_img {
	position: relative;
	border: 2px solid transparent;
	border-image: linear-gradient(0deg, black 0%, white 100%);
	border-image-slice: 1;
	overflow: hidden;
}
.content__card_text {
	color: #ffffff;
	text-align: center;
	padding-top: 22px;

}
.content__card_hover {
	position: absolute;

	width: 100%;
	background-color: #f26522;
	padding: 16px 18px 17px 21px;
	transform: translateY(0%) ;
	transition-duration: 0.5s;
}

.content__card:hover .content__card_text {
	color: #f26522;
}

.content__card:hover .content__card_hover {
	transform: translateY(-100%) ;
	transition-duration: 0.5s;
}


.content__card_hover_price {
	display: inline-block;
}
.content__card_hover_from {
	color: #ffffff;
	font-family: Verdana;
	font-size: 10px;
	font-weight: 400;
	line-height: 21px;
}
.content__card_hover_from-price {
	color: #ffffff;
	font-family: Verdana;
	font-size: 20px;
	font-weight: 400;
	line-height: 21px;


}
.content__card_hover_details {
	display: inline-block;
	color: #ffffff;
	font-family: Verdana;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	margin-left: 111px;
}
.content__card_hover_details:after {
	content: url('../../../img/html/hw3/arrow.png');
	width: 7px;
	opacity: 0.5;
	padding-left: 15px;
}
.copyright {
	color: #ffffff;
	text-align: center;
	

}