.button{
    background: linear-gradient(45deg, navy, magenta);
    font-size: 40px;
    border-radius: 4px;
    border: 0px solid white;
    color: greenyellow;
    box-shadow: #40404010 2px -2px;
    transition: 1s;
    padding: 5px;
}

.button:hover{
    transform: scale(1.05);
    transition: 1s;
    box-shadow: #49494070 2px -2px;
    margin: 10px;
}

input{
    background: transparent;
    font-family: sans-serif;
    font-size: 30px;
    color: magenta;
    margin: 2px;
    text-shadow: black 2px 2px;


}

input::placeholder{
    opacity: 40%;
    color: greenyellow;
    text-shadow: black 2px 2px;
}