
@font-face {
// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
font-family: 'Arimo', sans-serif;
// адрес шрифта и тип 
src: url("Arimo/Arimo-Regular.9fe23bf225ee.ttf") format("truetype");
font-style: normal; 
font-weight: normal; 
} 

.container{

	padding: 24px 30px 32px 22px;
	background-color: #3a4965;
	display: inline-block;


}

.table{
	font-family: 'Arimo', sans-serif;
	/*position: relative;*/
	/*width: 100%; */
	text-align: center;
	background-color:  #3a4965;;
	border: 0px;
	border-collapse: collapse;
/*	margin: 0 auto;
	top: 50%;*/
	/*margin-top: -340px;*/
	text-transform: uppercase;
	margin: 0 auto;
}

th{
	background-color: #fafafa;
}

.price_row {}
.price_cell {
	padding: 18px 33px;
	/*text-align: top;	*/
	/*border: 1px solid pink;*/


}
.big_price {
	/*border: 1px solid pink;*/

	position: relative;

	display: inline-block;
	color: #484848;
	font-size: 60px;
	font-weight: 700;
	line-height: 53px;
}

.rightprice {
	height: 50px;
	/*border: 1px solid pink;*/

	position: relative;
	text-align: left;
	display: inline-block;
	margin-left: -3px;
	/*margin-top: -10px;*/
	padding-bottom: 5px;



}

.small_price {
	/*border: 1px solid pink;*/


	display: inline-block;
	color: #484848;
	font-size: 24px;
	font-weight: 700;
	/*line-height: 18px;*/
	padding-bottom: 5px;


}
.permonth {
	/*border: 1px solid pink;*/

	padding-left: 1px;
	color: #484848;
	font-size: 18px;
	font-weight: 400;
	margin-top: -5px;
	padding-top: 6px;



}

.logo_cell .small_letters {
	color: #484848;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 10px
}
.logo_cell .big_letters {
	color: #484848;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;

}

.price_row{
	height: 86px;
}



.header_cell{
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	height: 70px;
	transition-duration: 1s;
	cursor: alias;
}

.header_cell:hover {
	font-size: 30px;
	transition-duration: 1s;
}

.header_cell + .ultimate{
	font-size: 30px;
}

td{
	height: 69px;
}


.content_raw {
	color: #484848;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;

	background-color: #f2f2f2;
}
.content_cell_topic {
	width: 310px;
}
.content_cell_topic i {
	margin-right: 12px
}
.content_cell_value {
	/*width: 277px;*/
}
.row_dark {
	background-color: #e3e3e3;
}

.button_row {
	height: 110px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 28px;
	

}
.button_row_contacts {
	background-color: #dddddd;
}
.footer_button {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 13px;
	background-color: #484848;
	width: 192px;
	border-radius: 6px;
	padding: 19px 0 17px 0;
	overflow: hidden;
	transform: rotate(0deg);
	transition-delay: 1s;


}

/* ключевые кадры */
@keyframes button_rotate{

0%{
transform: rotate(0deg);
}
25%{
transform: rotate(5deg);
}
50%{
transform: rotate(0deg);
}
75%{
transform: rotate(-5deg);
}
100%{
transform: rotate(0deg);
}
}


.footer_button:hover {

	animation-name: button_rotate;
	animation-duration: 0.6s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}

.footer_contacts_button {}
.button_row_cell {
	background-color: #eeeeee;
	perspective: 400px;
}
.standard {
	background-color: #89c331;
}
.ultimate {
	background-color: #f04a56;
}
.premium {
	background-color: #20807c;
}

th, td{
	border-right: 1px solid #d3d3d3;
	box-shadow: 5px 0 5px -5px #d3d3d3;
	}

tr th:last-child{
	border-right: none;
	box-shadow: none;
	

}

tr td:last-child{
	border-right: none;
	box-shadow: none;
}


.button_underline{
	position: absolute;
	bottom: 0;
	height: 7px;
	width: 100%;
	left: 0
}

.footer_contacts_button .button_underline {
	background-color: #404040;
}

.button_row_cell .standard .button_underline{
	background-color: #79b027;


}
.button_row_cell .ultimate .button_underline{
	background-color: #df3a46;

}
.button_row_cell .premium .button_underline{
	background-color: #16736f;

}

